/* Thanks to Snow77, Skalpa and Leostotch for the initial work, Dugris for help  */
/* Mor.pho.GEN.e.sis version 2.0 by kris (http://www.xoofoo.org and http://www.frxoops.org) */
/* file name : content.css (version 2.0) - 22 mai 2007 */

@import url(content-data.css);

/* ==== liens (désactivés) ci-dessous vers des feuilles de styles spécifiques
dans le cas de surcharge "générale" et pour les versions de xoops à partir de la 2.3 =====*/
/*@import url(content-data.css);*/
/*==================== fin des liens =================*/


/* Titre sous titre liste... */
h1, h2, h3, h4, h5, h6 { font-family: Impact, sans-serif; font-weight: normal;}
h1 {font-size: 					1.6em;}
h2 {font-size: 					1.4em;}
h3 {font-size: 					1.2em;}
h4 {font-size: 					1.1em;}
h5 {font-size: 					.9em;}
h6 {font-size: 					.8em;}

h1 {}
h1 a, h2 a{}
h1 a:hover, h2 a:hover {}
h3 {
	margin: 							0; 
	color: 							#F15205;
	background-color: 			inherit;
}
h4 {
	padding: 						15px 0 5px 2px;
}
a[rel~=alternate] { float:		right;}
a {
	color: 							#A6CDDF;
	background-color: 			inherit;
	font-weight: 					bold; 
	text-decoration: 				none; 
}
a:hover {
	color: 							#FA7534;
	background-color: 			inherit;
	text-decoration: 				underline;
}
img {	border:						0;}
hr{
	color:							#1E87C5;
	background-color: 			inherit;
	border-style: 					dashed;
	border: 							1px;
}
p {
	margin-top: 					0; 
	text-align: 					justify;
	}
/*---------- acronymes, abbréviation ------------*/
acronym, abbr {
	border-bottom: 				#666 1px dashed;
	cursor: 							help;
}
acronym:hover, abbr:hover { border-bottom-color: #FF9900;}

/*------------------- listes ----------------*/
#xo-canvas-content ul {}
#xo-canvas-content li {
	list-style-type: 				none;
	padding-left: 					19px !important;
	background: 					url(img/starfish.gif) no-repeat -2px 0px;
	font-size: 						.8em;
}

/* ========== styles utilisés dans les "articles" de contenu (exemple : news) ============*/
.item {
	margin-bottom: 				20px;
}
.itemHead {
	padding: 						3px;
}
.itemInfo {
	padding: 						3px;
	text-align: 					right;
	font-size: 						.8em;
	font-style: 					italic;
}
.itemTitle a {
	font-size: 						1.2em;
	font-weight: 					normal;
	letter-spacing: 				1px;
}
.itemTitle a:hover {
	text-decoration: 				none;
}
.itemPoster, .itemPostDate, .itemStats {
	font-size: 						.9em;
	}
.itemPoster a:hover {
	text-decoration: 				underline;
}
.itemBody {
	padding: 						5px;
	background: 					url(img/blubba6.gif) no-repeat 240px 0;
}
.itemBody img {
	padding: 						4px;
}
.itemText {
	margin-top: 					1px;
	margin-bottom: 				1px;
	text-align:						justify;
}
.itemText a , .itemInfo a, .itemFoot a {}
.itemText a:hover .itemInfo a:hover, .itemFoot a:hover {
	text-decoration: 				none;
}
.itemBody a{}
.itemBody a:hover {}
.itemText:first-letter {}
.itemFoot {
	margin-right: 					20px;
	margin-left: 					20px;
	padding: 						3px;
	text-align: 					right;
}
.itemAdminLink {
	font-size: 						.8em;
}
.itemPermaLink {
	font-size: 						.8em;
}
/*=============== styles pour les tableaux =================*/
.outer {
	font-size:						.9em;
}
.head {
	padding: 						5px;
	font-weight: 					bold;
	font-size: 1.1em;
}
.head a {}
.head a:hover {}
.even {padding: 					5px;}
.odd {padding: 					5px;}
tr.even td {padding: 			5px;}
tr.odd td {padding: 				5px;}
.foot {
	padding: 						2px;
	font-weight: 					bold;
	text-align:						center;
}
th {
	padding: 						2px;
	color: 							#A6CDDF;
	background-color: 			inherit;
	font-size:						1.2em;
	vertical-align: 				middle;
	font-family: 					Impact, sans-serif;
	font-weight: 					normal;
	letter-spacing: 				1px;
	border-bottom: 				1px dotted #fff;
}
th a {
	color: 							#fff;
	background-color: 			inherit;
}

/*=========== Styles pour les pages de redirections ==============*/
div.errorMsg {
	padding: 						10px;
	color:							#333;
	background-color: 			#FFCCCC;
	text-align: 					center;
	font-weight: 					bold;
	border-top: 					1px solid #DDDDFF;
	border-left: 					1px solid #DDDDFF;
	border-right: 					1px solid #aaa;
	border-bottom: 				1px solid #aaa;
}
div.confirmMsg {
	padding: 						10px;
	color: 							#32529C;
	background-color: 			#DDFFDF;
	text-align: 					center;
	font-weight: 					bold;
	border-top: 					1px solid #DDDDFF;
	border-left: 					1px solid #DDDDFF;
	border-right: 					1px solid #aaa;
	border-bottom: 				1px solid #aaa;
}
div.resultMsg {
	padding: 						10px;
	color: 							#333;
	background-color : 			#ccc;
	text-align: 					center;
	font-weight: 					bold;
	border-top: 					1px solid silver;
	border-left: 					1px solid silver;
	border-right: 					1px solid #666;
	border-bottom: 				1px solid #666;
}
div.xoopsCode {}
div.xoopsQuote {}

/*=========== Styles utilisés pour les commentaires (et newbb/cbb également) ===========*/
.comTitle {
	margin-bottom: 				2px;
	color: 							#A6CDDF;
	background-color: 			inherit;
}
.comText {
	padding: 						2px;
	background: 					url(img/blubba6.gif) no-repeat 140px 0;
}
.comUserStat {
	margin: 							2px;
	padding: 						2px;
	color: 							#A6CDDF;
	background-color: 			transparent;
	font-weight:					bold;
	font-size: 						.8em;
	line-height: 					normal;
}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {
	margin-left: 					2px;
	margin-top: 					10px;
	color: 							#A6CDDF;
	background-color: 			transparent;
	font-weight:					bold;
	font-size: 						.8em;
}
.comUserRank {margin: 			2px;}
.comUserRankText {
	font-size: 						.8em;
	font-weight:					bold;
}
.comUserRankImg {border: 		0;}
.comUserName {}
.comUserImg {margin: 			2px;}
.comDate {
	font-weight: 					normal;
	font-style: 					italic;
	font-size: 						.8em;
}
.comDateCaption {
	font-weight: 					bold;
	font-style: 					normal;
}

/*================ Style pour les Citations ================*/
blockquote {
	margin-left:					.5em;
	padding:							.5em;
	background-color: 			transparent;
	font-size: 						.9em;
	font-style: 					italic;
	border-width:					1px 1px 1px 6px;
	border-style: 					solid;
	border-color: 					#8EC0F9;
}

/*================== Style pour les Codes =================*/
.xoopsCode {
	display:							block;
	padding:							.5em;
	width:							95%;
	max-height: 					400px;
	overflow: 						auto;
	background-color: 			transparent;
	font-family:					monospace;
	font-size: 						.9em;
	border:							1px solid #d0d0d0;
}

/*========== styles utilisés dans les versions Xoops à partir de la 2.3 ==============*/
.x2-note {
	margin:							1em .5em;
	padding:							.5em;
	color:							#666;
	background-color:				#F4FAFF;
	border:							1px solid #E4EAEF;
}
#xo-content  .x2-contentinfo {
	margin:							1em .5em;
	padding:							.5em;
	color:							#666;
	background-color:				#f8f8f8;
	border:							1px solid #e0e0e0;
}
#xo-content .x2-secondary {
	margin:							1em .5em;
	padding:							.5em;
	color:							#666;
	background-color: 			inherit;
}
.x2-seealso {
	margin:							1em .5em;
	padding:							.5em 1em;
	color:							#666;
	background-color:				#fffcf6;
	border:							1px solid #efeae4;
}
.x2-seealso ul, .x2-note ul {
	margin:							0;
	padding-left:					1em;
	color:							#666;
	background-color: 			inherit;
}

.x2-seealso a {
	color:							#EAAD7B;
	background-color: 			inherit;
}
.x2-seealso a:hover {
	color:							#666;
	background-color: 			inherit;
}

body.site_closed form {	padding: 1em 35%;}

#system-select_notifications { clear: both;}

.signature {
	font-style: 					italic;
	font-size: 						.9em;
}